<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <form >
    用户名：<input type="text" name="username" id="username"><br>
    旧密码：<input type="password" name="oldPassword" id="oldPassword"><br>
    新密码：<input type="password" name="newPassword" id="newPassword"><br>
    </form>
        <button type="button" onclick='submit()'>提交</button>
      <a href="/signout">注销</a>
</body>
<button type="button" onclick='submit2()'>提交</button>

 <form action="http://localhost:8080/api/user/avatar" method="POST" enctype="multipart/form-data">
      <input type="text" name="username" placeholder="gengxiachen">
      头像： <input id="uploadFile" type="file" name="avatar" />
      <input type="submit">
 </form> 
 
 <span>TEST MESSAGES:</span>
 <form action="http://localhost:8080/api/user/56906d5aa4b01fac56caa75d/message" method="POST">
<span>内容：</span> <textarea name="content" id="" cols="30" rows="10"></textarea>
<input type="submit" />
</form>
<script>
    function submit(){
        $.ajax({  
    url:'http://localhost:8080/api/user',// 跳转到 action  
    data:{  
             username : $('#username').val(),  
             oldPassword :  $('#oldPassword').val(),  
             newPassword :  $('#newPassword').val() 
    },  
    type:'PUT',  
    dataType:'json',  
    success:function(data) {  
        if(data.success =="true" ){  
            alert("修改成功！");  
        }else{  
             alert("失败");  
        }  
     },  
     error : function() {  
          alert("异常！");  
     }  
});
}
function submit2(){
        $.ajax({  
    url:'http://localhost:8080/api/order',// 跳转到 action  
    data:{   
             item :  {"_id":"5683a51a1d9643b82a1056f3","state":"selling","seller":{"_id":"567b9670d36d5c501c94495d","firstName":"耿","lastName":"夏琛","college":"南京理工大学","fullName":"耿夏琛","id":"567b9670d36d5c501c94495d"},"unitPrice":5000,"__v":0,"imagesUrl":["/uploadImages/upload_ae3974c19ddec59212eb708c35cc09f3.gif"],"stock":200,"description":"iphone6s","itemname":"iphone6s","created":"2015-12-30T09:34:18.789Z","id":"5683a51a1d9643b82a1056f3"},  
             quantity :  1,
             unitPrice:5000
    },  
    type:'POST',  
    dataType:'json',  
    success:function(data) {  
        alert(date);  
     },  
     error : function() {  
          alert("异常！");  
     }  
});
}
function submit3(){
    var fd = new FormData();
	fd.append("avatar", $("#uploadFile").get(0).files[0]);
        $.ajax({  
    url:'http://localhost:8080/api/user/avatar',// 跳转到 action  
    data:fd,  
    type:'POST',  
    dataType:'json',  
    processData: false,
	contentType: false,
    success:function(data) {  
        alert(date);  
     },  
     error : function() {  
          alert("异常！");  
     }  
});
}
// function deltet(){
//         $.ajax({  
//     url:'http://localhost:8080/api/user',// 跳转到 action  
//     data:{  
//              username : $('#username').val(),  
//              oldPassword :  $('#oldPassword').val(),  
//              newPassword :  $('#newPassword').val() 
//     },  
//     type:'PUT',  
//     dataType:'json',  
//     success:function(data) {  
//         if(data.success =="true" ){  
//             alert("修改成功！");  
//         }else{  
//              alert("失败");  
//         }  
//      },  
//      error : function() {  
//           alert("异常！");  
//      }  
// });
// }
</script>
</html>