<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Kanrisha - A Premium HTML5 Responsive Admin Template</title>
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="../manage/Javascript/Flot/excanvas.js"></script>
	<![endif]-->
	<!-- The Fonts -->
	<link href="http://fonts.useso.com/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet" />
	<!-- The Main CSS File -->
	<link rel="stylesheet" href="../manage/CSS/style.css" />
	<!-- jQuery -->
	<script src="../manage/Javascript/jQuery/jquery-1.7.2.min.js"></script>
	<!-- Flot -->
	<script src="../manage/Javascript/Flot/jquery.flot.js"></script>
	<script src="../manage/Javascript/Flot/jquery.flot.resize.js"></script>
	<script src="../manage/Javascript/Flot/jquery.flot.pie.js"></script>
	<!-- DataTables -->
	<script src="../manage/Javascript/DataTables/jquery.dataTables.min.js"></script>
	<!-- ColResizable -->
	<script src="../manage/Javascript/ColResizable/colResizable-1.3.js"></script>
	<!-- jQuryUI -->
	<script src="../manage/Javascript/jQueryUI/jquery-ui-1.8.21.min.js"></script>
	<!-- Uniform -->
	<script src="../manage/Javascript/Uniform/jquery.uniform.js"></script>
	<!-- Tipsy -->
	<script src="../manage/Javascript/Tipsy/jquery.tipsy.js"></script>
	<!-- Elastic -->
	<script src="../manage/Javascript/Elastic/jquery.elastic.js"></script>
	<!-- ColorPicker -->
	<script src="../manage/Javascript/ColorPicker/colorpicker.js"></script>
	<!-- SuperTextarea -->
	<script src="../manage/Javascript/SuperTextarea/jquery.supertextarea.min.js"></script>
	<!-- UISpinner -->
	<script src="../manage/Javascript/UISpinner/ui.spinner.js"></script>
	<!-- MaskedInput -->
	<script src="../manage/Javascript/MaskedInput/jquery.maskedinput-1.3.js"></script>
	<!-- ClEditor -->
	<script src="../manage/Javascript/ClEditor/jquery.cleditor.js"></script>
	<!-- Full Calendar -->
	<script src="../manage/Javascript/FullCalendar/fullcalendar.js"></script>
	<!-- Color Box -->
	<script src="../manage/Javascript/ColorBox/jquery.colorbox.js"></script>
	<!-- Kanrisha Script -->
	<script src="../manage/Javascript/kanrisha.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
	<!-- Top Panel -->
	<div class="top_panel">
		<div class="wrapper">
			<div class="user">
				<img src="../manage/Images/user_avatar.png" alt="user_avatar" class="user_avatar" />
				<span class="label">John Alex</span>
				<!-- Top Tooltip -->
				<div class="top_tooltip">
					<div>
						<ul class="user_options">
							<li class="i_16_profile"><a href="#" title="Profile"></a></li>
							<li class="i_16_tasks"><a href="#" title="Tasks"></a></li>
							<li class="i_16_notes"><a href="#" title="Notes"></a></li>
							<li class="i_16_options"><a href="#" title="Options"></a></li>
							<li class="i_16_logout"><a href="#" title="Log-Out"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--<header class="main_header">
		<div class="wrapper">
			<div class="logo">
				<a href="#" title="Kanrisha Home">
					<img src="../manage/Images/kanrisha_logo.png" alt="kanrisha_logo" />
				</a>
			</div>
			<nav class="top_buttons">
				<ul>
					<li class="big_button">
						<div class="out_border">
							<div class="button_wrapper">
								<div class="in_border">
									<a href="#" title="Analytics" class="the_button">
										<span class="i_32_statistic"></span>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li class="big_button">
						<div class="big_count">
							<span>7</span>
						</div>
						<div class="out_border">
							<div class="button_wrapper">
								<div class="in_border">
									<a href="#" title="Support" class="the_button">
										<span class="i_32_support"></span>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li class="big_button">
						<div class="out_border">
							<div class="button_wrapper">
								<div class="in_border">
									<a href="#" title="Delivery" class="the_button">
										<span class="i_32_delivery"></span>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li class="big_button">
						<div class="out_border">
							<div class="button_wrapper">
								<div class="in_border">
									<a href="#" title="Earning" class="the_button">
										<span class="i_32_dollar"></span>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>-->

	<!--<div class="wrapper small_menu">
		<ul class="menu_small_buttons">
			<li><a title="General Info" class="i_22_dashboard" href="index.html"></a></li>
			<li><a title="Your Messages" class="i_22_inbox" href="inbox.html"></a></li>
			<li><a title="Visual Data" class="i_22_charts" href="charts.html"></a></li>
			<li><a title="Kit elements" class="i_22_ui" href="ui.html"></a></li>
			<li><a title="Some Rows" class="i_22_tables" href="tables.html"></a></li>
			<li><a title="Some Fields" class="i_22_forms smActive" href="forms.html"></a></li>
		</ul>
	</div>-->

	<!--<div class="wrapper contents_wrapper">
		
		<aside class="sidebar">
			<ul class="tab_nav">
				<li class="i_32_dashboard">
					<a href="index.html" title="General Info">
						<span class="tab_label">Dashboard</span>
						<span class="tab_info">General Info</span>
					</a>
				</li>
				<li class="i_32_inbox">
					<a href="inbox.html" title="Your Messages">
						<span class="tab_label">Inbox</span>
						<span class="tab_info">Your Messages</span>
					</a>
				</li>
				<li class="i_32_charts">
					<a href="charts.html" title="Visual Data">
						<span class="tab_label">Charts</span>
						<span class="tab_info">Visual Data</span>
					</a>
				</li>
				<li class="i_32_ui">
					<a href="ui.html" title="Kit elements">
						<span class="tab_label">UI</span>
						<span class="tab_info">Kit elements</span>
					</a>
				</li>
				<li class="i_32_tables">
					<a href="tables.html" title="Some Rows">
						<span class="tab_label">Tables</span>
						<span class="tab_info">Some Rows</span>
					</a>
				</li>
				<li class="active_tab i_32_forms">
					<a href="forms.html" title="Some Fields">
						<span class="tab_label">Forms</span>
						<span class="tab_info">Some Fields</span>
					</a>
				</li>
			</ul>
		</aside>-->
		<div class="wrapper contents_wrapper">
			<div class="grid_wrapper">

				<div class="g——12 contents_header">
					<h3 class="i_16_forms tab_label">添加管理员</h3>
					<div><span class="label">添加系统下属管理员</span></div>
				</div>

				<div class="g_12 separator"><span></span></div>
				<div class="g_12">
					<div class="widget_header">
						<h4 class="widget_header_title wwIcon i_16_valid">添加管理员</h4>
					</div>
					<div class="widget_contents noPadding">
						<form action="http://localhost:8080/manage/addManager" method="POST" />
							<div class="line_grid">
								<div class="g_3"><span class="label">姓名 <span class="must">*</span></span></div>
								<div class="g_9">
									<input type="text" placeholder="真实姓名" class="simple_field" name="fullName" required />
								</div>
							</div>
                            <div class="line_grid">
								<div class="g_3"><span class="label">用户名 <span class="must">*</span></span></div>
								<div class="g_9">
									<input type="text" placeholder="用户名" class="simple_field" name="username" required />
								</div>
							</div>
							<div class="line_grid">
								<div class="g_3"><span class="label">密码 <span class="must">*</span></span></div>
								<div class="g_9">
									<input class="simple_field" type="password" name="password" required />
									<div class="field_notice">至少为7位</div>
								</div>
							</div>
							<!--<div class="line_grid">
								<div class="g_3"><span class="label">Birthday Date <span class="must">*</span></span></div>
								<div class="g_9">
									<input class="simple_field pick_date" type="text" required />
								</div>
							</div>-->
							<div class="line_grid">
								<div class="g_3"><span class="label">Email <span class="must">*</span></span></div>
								<div class="g_9">
									<input class="simple_field" type="email" name="email" required />
									<div class="field_notice">请输入正确的email格式</div>
								</div>
							</div>
							<!--<div class="line_grid">
								<div class="g_3"><span class="label">Website <span class="must">*</span></span></div>
								<div class="g_9">
									<input class="simple_field" type="Url" required />
									<div class="field_notice">Try typing a wrong Url ..</div>
								</div>
							</div>-->
							<div class="line_grid">
								<div class="g_3"><span class="label">学校 <span class="must">*</span></span></div>
								<div class="g_9">
									<input class="simple_field tooltip" name="college"  type="text" title="请输入正确的学校信息" required />
								</div>
							</div>
							<div class="line_grid">
								<div class="g_3"><span class="label">手机号 <span class="must">*</span></span></div>
								<div class="g_9">
									<input class="simple_field" type="text" name="phone" required />
									<div class="field_notice">请输入11位手机号</div>
								</div>
							</div>
							<!--<div class="line_grid">
								<div class="g_3"><span class="label">Budget <span class="must">*</span></span></div>
								<div class="g_9">
									<input class="simple_field spinner3" type="text" required />
									<div class="field_notice">Min 0$ | Ps: Try focus and using Up and Down Key ..</div>
								</div>
							</div>-->
							<div class="line_grid">
								<div class="g_3"><span class="label">身份 <span class="must">*</span></span></div>
								<div class="g_9">
									<input class="simple_form" type="radio" name="role" value="admin" /><span class="label ilC">管理员</span>
									<input class="simple_form" type="radio" name="role" value="root" /><span class="label ilC">超级管理员</span>
                                    <input class="simple_form" type="radio" name="role" value="others" /><span class="label ilC">其它</span>
								</div>
							</div>
							<!--<div class="line_grid">
								<div class="g_3"><span class="label">Preferred Color <span class="must">*</span></span></div>
								<div class="g_9">
									<input type="text" class="simple_field fwColorpicker" required />
								</div>
							</div>-->
							<!--<div class="line_grid">
								<div class="g_3"><span class="label"> Term of Use </span></div>
								<div class="g_9">
										<textarea class="simple_field" readonly>
Term Of use:

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas semper sagittis dui, nec tempor lorem ultrices vel. Quisque et nisl velit, vitae ullamcorper nisi. Sed feugiat sollicitudin rhoncus. Quisque ac euismod velit. Phasellus accumsan laoreet mi, at suscipit arcu sagittis at. Aenean quis enim sed mauris posuere dignissim nec ut sem. Proin pulvinar arcu vitae mi mollis interdum. Mauris laoreet mollis dapibus. Proin fermentum molestie sapien, non molestie enim fringilla ac.
										</textarea>
										<div class="field_notice">Read-Only</div>
								</div>
							</div>-->
							<!--<div class="line_grid">
								<div class="g_3"><span class="label">Are you agree? <span class="must">*</span></span></div>
								<div class="g_9">
										<input type="checkbox" class="simple_form" required />
										<span class="label ilC">同意</span>
								</div>
							</div>-->
							<div class="line_grid">
								<div class="g_3"><span class="label">提交</span></div>
								<div class="g_9">
									<input type="submit" value="提交" class="submitIt simple_buttons" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<footer>
		<div class="wrapper">
			<span class="copyright">
				&copy; Copyright &copy; 2013.Company name All rights reserved.
			</span>
		</div>
	</footer>
</body>
</html>