<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Kanrisha - A Premium HTML5 Responsive Admin Template</title>
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="../manage/Javascript/Flot/excanvas.js"></script>
	<![endif]-->
	<!-- The Fonts -->
	<link href="http://fonts.useso.com/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet" />
	<!-- The Main CSS File -->
	<link rel="stylesheet" href="../manage/CSS/style.css" />
	<!-- jQuery -->
	<script src="../manage/Javascript/jQuery/jquery-1.7.2.min.js"></script>
	<!-- Flot -->
	<script src="../manage/Javascript/Flot/jquery.flot.js"></script>
	<script src="../manage/Javascript/Flot/jquery.flot.resize.js"></script>
	<script src="../manage/Javascript/Flot/jquery.flot.pie.js"></script>
	<!-- DataTables -->
	<script src="../manage/Javascript/DataTables/jquery.dataTables.min.js"></script>
	<!-- ColResizable -->
	<script src="../manage/Javascript/ColResizable/colResizable-1.3.js"></script>
	<!-- jQuryUI -->
	<script src="../manage/Javascript/jQueryUI/jquery-ui-1.8.21.min.js"></script>
	<!-- Uniform -->
	<script src="../manage/Javascript/Uniform/jquery.uniform.js"></script>
	<!-- Tipsy -->
	<script src="../manage/Javascript/Tipsy/jquery.tipsy.js"></script>
	<!-- Elastic -->
	<script src="../manage/Javascript/Elastic/jquery.elastic.js"></script>
	<!-- ColorPicker -->
	<script src="../manage/Javascript/ColorPicker/colorpicker.js"></script>
	<!-- SuperTextarea -->
	<script src="../manage/Javascript/SuperTextarea/jquery.supertextarea.min.js"></script>
	<!-- UISpinner -->
	<script src="../manage/Javascript/UISpinner/ui.spinner.js"></script>
	<!-- MaskedInput -->
	<script src="../manage/Javascript/MaskedInput/jquery.maskedinput-1.3.js"></script>
	<!-- ClEditor -->
	<script src="../manage/Javascript/ClEditor/jquery.cleditor.js"></script>
	<!-- Full Calendar -->
	<script src="../manage/Javascript/FullCalendar/fullcalendar.js"></script>
	<!-- Color Box -->
	<script src="../manage/Javascript/ColorBox/jquery.colorbox.js"></script>
	<!-- Kanrisha Script -->
	<script src="../manage/Javascript/kanrisha.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
	<!-- Top Panel -->
	<div class="top_panel">
		<div class="wrapper">
			<div class="user">
				<img src="../manage/Images/user_avatar.png" alt="user_avatar" class="user_avatar" />
				<span class="label" id="fullName">用户名</span>
			</div>
		</div>
	</div>

	<div class="wrapper contents_wrapper">
		
	
		<aside class="sidebar">
			<ul class="tab_nav">
				<li class="i_32_dashboard">
					<a href="manageIndex" title="General Info">
						<span class="tab_label">Dashboard</span>
						<span class="tab_info">总体信息</span>
					</a>
				</li>
				<li class="i_32_charts">
					<a href="sellData" title="Visual Data">
						<span class="tab_label">图表</span>
						<span class="tab_info">销售信息</span>
					</a>
				</li>
				<li class="active_tab i_32_tables">
					<a href="dataTable" title="Some Rows">
						<span class="tab_label">表格</span>
						<span class="tab_info">销售信息</span>
					</a>
				</li>
				<li class="i_32_forms">
					<a href="addManager" title="Some Fields">
						<span class="tab_label">管理员</span>
						<span class="tab_info">添加管理员</span>
					</a>
				</li>
			</ul>
		</aside>

		<div class="contents">
			<div class="grid_wrapper">

				<div class="g_6 contents_header">
					<h3 class="i_16_table tab_label">销售情况</h3>
					<div><span class="label">表格数据</span></div>
				</div>
				<div class="g_12 separator"><span></span></div>

				<div class="g_12">
					<div class="widget_header wwOptions">
						<h4 class="widget_header_title wwIcon i_16_data">商品数据</h4>
					</div>
					<div class="widget_contents noPadding">
						<table class="datatable tables" id="itemData">
							<thead>
								<tr>
									<th style="display:none">商品Id</th>
									<th>卖家</th>
									<th>商品名称</th>
									<th>库存</th>
                                    <th>单价</th>
                                    <th>商品类别</th>
                                    <th>状态</th>
								</tr>
							</thead>
							<tbody id="itemDataBody">
							</tbody>
						</table>
					</div>
				</div>
                <!-- Separator -->
				<div class="g_12 separator"><span></span></div>
				<div class="g_12">
					<div class="widget_header wwOptions">
						<h4 class="widget_header_title wwIcon i_16_data">销售订单数据</h4>
					</div>
					<div class="widget_contents noPadding">
						<table class="datatable tables" id="orderData">
							<thead>
								<tr>
									<th style="display:none">订单Id</th>
                                    <th>买家</th>
									<th>卖家</th>
									<th>商品名称</th>
									<th>购买数量</th>
                                    <th>单价</th>
                                    <th>评价</th>
                                    <th>状态</th>
								</tr>
							</thead>
							<tbody id="orderDataBody">
							</tbody>
						</table>
					</div>
				</div>
				<!-- Separator -->
				<div class="g_12 separator"><span></span></div>
				<!--<div class="g_12">
					<div class="widget_header wwOptions">
						<h4 class="widget_header_title wwIcon i_16_calendar">Calendar</h4>
						<div class="w_Options i_16_settings">
							<ul class="drop_menu menu_with_icons right_direction">
								<li>
									<a class="i_16_add" href="#" title="New Flie">
										<span class="label">New File</span>
									</a>									
								</li>
								<li>
									<a class="i_16_progress" href="#" title="2 Files Left">
										<span class="label">Files Left</span>
										<span class="small_count">2</span>
									</a>
								</li>
								<li>
									<a class="i_16_files" href="#" title="Browse Files">
										<span class="label">Browse Files</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>-->
			</div>		
		</div>
	</div>
    <script>
 $.ajax({
   type:'GET',
   url:'/api/items',
   dataType:'JSON',
   async:false,
   success:function(data){
    for(var i in data){
        var itemData='<tr>'
         +'<td style="display:none">'+data[i]._id+'</td>'
        +'<td>'+data[i].seller.fullName+'</td>'+'<td>'+data[i].itemname+'</td>'+'<td>'+data[i].stock+'</td>'
        +'<td>'+data[i].unitPrice+'</td>'+'<td>'+data[i].itemType+'</td>'+'<td>'+data[i].state+'</td>'
        +'</tr>'
        $('#itemDataBody').append(itemData);
    }
   }
});
 $.ajax({
   type:'GET',
   url:'/manage/orderData',
   dataType:'JSON',
   async:false,
   success:function(data){
    for(var i in data){
        if(data[i].rateValue==undefined) data[i].rateValue='暂未评价'
        var orderData='<tr>'
         +'<td style="display:none">'+data[i]._id+'</td>'
        +'<td>'+data[i].customer.fullName+'</td>'+'<td>'+data[i].seller.fullName+'</td>'+'<td>'+data[i].item.itemname+'</td>'+'<td>'+data[i].quantity+'</td>'
        +'<td>'+data[i].unitPrice+'</td>'+'<td>'+data[i].rateValue+'</td>'+'<td>'+data[i].state+'</td>'
        +'</tr>'
        $('#orderDataBody').append(orderData);
    }
   }
});
      window.manage = <%- manage || 'null' %>;
   $(document).ready(function() { 
$('#fullName').text(window.manage.fullName);

}); 
</script>
	<script src="../manage/Javascript/DataTables/jquery.dataTables.min.js"></script>
	<footer>
		<div class="wrapper">
			<span class="copyright">
				&copy; Copyright &copy; 2013.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
			</span>
		</div>
	</footer>
</body>
</html>