<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
</head>
<body>
	<% for(var i in messages) { %>
	<div class="flash"><%= messages[i] %></div>
	<% } %>
	<h3>发布商品</h3>
	<form id='publishform' action="/api/item" method="post" enctype="multipart/form-data">
	<label for="itemname">商品名称：</label>
	<input type="text" name="itemname">
	<label for="description">描述：</label>
	<input type="text" name="description">
	<label for="stock">库存数量：</label>
	<input type="text" name="stock">
	<label for="unitPrice">单价</label>
	<input type="text" name="unitPrice">
		<input type="file" name="img" multiple="multiple" />
	<input type="submit" value="发布">
	</form>
</body>
</html>