

<section>
	<!--<% for(var i in messages) { %>-->
    <!--<div class="flash"><%= messages[i] %></div>-->
    <!--<% } %>-->
    <div class="container-fluid" >
        <div class="row">

            <div class="col-md-12">
                <div class="row">
                    <form class="" role="form"  novalidate>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-2 control-label">
                                    用户名：
                                </label>

                                <div class="col-md-4">
                                    <input  class="form-control" name="username" placeholder="用户名" ng-model="credentials.username" required>

                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">
                                        密码：
                                    </label>
                                    <div class="col-md-4">
                                        <input type="password" name="password" class="form-control" placeholder="只能是数字、字母、下划线" ng-model="credentials.password">

                                    </div>

                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">

                                    </div>
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="col-md-offset-4 btn btn-primary" ng-click="login(credentials)">登录</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



