<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<title>
		<%=title%>
	</title>
</head>

<body>
	
	<h1>登录</h1>
	<form action="http://localhost:8080/api/authentication" method="post">
		<label for="username">用户名：</label>
		<input type="text" name="username">
		<label for="username">密码：</label>
		<input type="password" name="password">
		<input type="submit" value="登录">
	</form>
</body>
 <!--<script>
     window.messages ='';
     <% for(var i in messages) { %>
	window.messages=window.messages+'<%=messages[i]%>'
	<% } %>
   
    </script>-->
</html>